*{
    margin: 0;
}
header{
    border: 0.1px solid aliceblue;
    height: 200px;
    background-image: url("bg-desktop-light.988cb74c.jpg");
    background-color: #cccccc;
}
body{
   
    background-color: rgb(234, 234, 234);
    
}
h1{
    margin-left: 30%;
    margin-top: 75px;
    color: aliceblue;
    letter-spacing: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inputbox{
    height: 50px;
    margin-top: -35px;
    margin-left: 30%;
}
input{
    height: 50px;
    width: 500px;
    border: none;
    outline: none;
    font-size: x-large;
    color: rgb(50, 50, 50,0.75);
}

.tasks{
    position: relative;
    width: 500px;
    margin-left: 30%;
    background-color : #ffffff;
    margin-top: 20px;
    height: 50px;
}
.tasks >p{
    margin: 10px;
   padding: 15px;
    width: 90%;
}
.tasks >button{
    position: absolute;
    background-color: rgb(250, 88, 88);
    top: -1px;
    left: 510px;
}

button{
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: x-large;
    background-color: rgb(151, 69, 244);
    position: absolute;
    margin-top: 10px;
    margin-left: -50px;
    border-radius: 50%;
}
button:hover{
    cursor: pointer;
}